@model IEnumerable<AACalendar.Models.Entities.Employee>

@{
    ViewData["Title"] = "Calendar Page";
}

<link rel="stylesheet" href="~/css/Calendar.css"/>


<div id="container">
    <div id="prev_month">L</div>
    <h1 id="header">Calendar</h1>
    <div id="next_month">R</div>
</div>

<div id="cal" class="grid-container"></div>

<script src="~/js/Calendar.js"></script>






